/* 
  Global CSS Variables 
****************************/

:root {
  --gray-400: #707B7F;
  --gray-500: #899497;
  --gray-600: #97A3A7;
  --gray-800: #D9E1E5;

  --bg-blue-600: #197FA1;
  --bg-blue-400: #55768C;
  --bg-blue-200: #296C82;

  --blue-400: #03A1D5;

  --white: #fff;

  --font-heading: poppins, sans-serif;
  --font-body: libre-franklin, sans-serif;
  --mobile-nav-transition-duration: .3s;

  --type-scale-base: calc(18rem/16);
  --scale-multiplier: 1.2;
  --type-scale-1: var(--type-scale-base);
  --type-scale-2: calc(var(--type-scale-1) * var(--scale-multiplier));
  --type-scale-3: calc(var(--type-scale-2) * var(--scale-multiplier));
  --type-scale-4: calc(var(--type-scale-3) * var(--scale-multiplier));
  --type-scale-5: calc(var(--type-scale-4) * var(--scale-multiplier));
  --type-scale-6: calc(var(--type-scale-5) * var(--scale-multiplier));
  --type-scale-7: calc(var(--type-scale-6) * var(--scale-multiplier));
  --type-scale-8: calc(var(--type-scale-7) * var(--scale-multiplier));
  --type-scale-0: calc(var(--type-scale-base) / var(--scale-multiplier));
  --type-scale-00: calc(var(--type-scale-0) / var(--scale-multiplier));

  --spatial-scale-base: calc(var(--type-scale-base) * .705);
  --spatial-scale-1: var(--spatial-scale-base);
  --spatial-scale-2: calc(var(--spatial-scale-1) * var(--scale-multiplier));
  --spatial-scale-3: calc(var(--spatial-scale-2) * var(--scale-multiplier));
  --spatial-scale-4: calc(var(--spatial-scale-3) * var(--scale-multiplier));
  --spatial-scale-5: calc(var(--spatial-scale-4) * var(--scale-multiplier));
  --spatial-scale-6: calc(var(--spatial-scale-5) * var(--scale-multiplier));
  --spatial-scale-7: calc(var(--spatial-scale-6) * var(--scale-multiplier));
  --spatial-scale-8: calc(var(--spatial-scale-7) * var(--scale-multiplier));
  --spatial-scale-0: calc(var(--spatial-scale-base) / var(--scale-multiplier));
  --spatial-scale-00: calc(var(--spatial-scale-0) / var(--scale-multiplier));

}

/* Lessons were learned here: */
@media (min-width: 820px /* 51.25rem *//* 820 / 16 */) {
  html {
    font-size: calc(100% + 10 * (100vw - 1440px) / 900);
  }
}

/*
  Global styles
****************************/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-body);
  margin: 0;
}

a {
  color: var(--blue-400);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}

/*
  Page Transitions
****************************/

.container {
  position: relative;
  z-index: 0;
}

.home-enter {
  opacity: .5;
  transform: perspective(100vh) translate3d(0, 100%, 0);
}
.home-enter-active {
  background: var(--white);
  transition: opacity .444s, transform .666s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.home-enter-to {
  transform: perspective(100vh) translate3d(0, 0, 0);
}
.home-leave-active {
  transition: transform .666s cubic-bezier(0.165, 0.84, 0.44, 1), background-color .66s;
}
.home-leave {
  transform: perspective(100vh) translate3d(0, 0, 0);
}
.home-leave-to {
  transform: perspective(100vh) translate3d(0, -15vh, -60vh);
}

.swipe-enter-active, .swipe-leave-active {
  transition: opacity .33s, transform .33s ease;
}
.swipe-enter, .swipe-leave-to {
  opacity: 0;
}
.swipe-enter {
  transform: translate3d(2rem, 0, 0);
}
.swipe-leave-to {
  transform: translate3d(-2rem, 0, 0);
}
