.home-enter-active, .home-leave-active {
  transition: opacity 2s, transform 2s;
}
.home-enter {
  opacity: 0;
  transform: translate3d(0, 5em, 0);
}

.home-leave-to {
  transform: translate3d(0, 0, 0);
}

.page-enter-active, .page-leave-active {
  transition: opacity .33s, transform .33s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
