// SCSS Variables

// Fonts
$font-heading: 'Poppins', sans-serif;
$font-body: 'Arimo', sans-serif;


// Colors
$gray-400: #717171;


// Breakpoints

$viewport-small: (500rem/16);
$viewport-medium: (980rem/16);
$viewport-large: (1200/16);

// Global styles

body {
  font-family: $font-body;
  margin: 0;
}


// Transitions

.container {
  position: relative;
  z-index: 0;
}

.home-enter {
  opacity: 0;
  transform: perspective(100vw) translate3d(0, 65%, 0);
}
.home-enter-active {
  background: #fff;
  transition: opacity .666s, transform .666s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.home-enter-to {
  transform: perspective(100vw) translate3d(0, 0, 0);
}
.home-leave-active {
  display: none !important;
}

.swipe-enter-active, .swipe-leave-active {
  transition: opacity .33s, transform .33s ease;
}
.swipe-enter, .swipe-leave-to {
  opacity: 0;
}
.swipe-enter {
  transform: translate3d(2rem, 0, 0);
}
.swipe-leave-to {
  transform: translate3d(-2rem, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
  color: #97A3A7;
  font-family: $font-heading;
  font-weight: 400;
}

.t1-header {
  display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  @media (min-width: $viewport-small) {
    justify-content: flex-start;
  }
}
.t1-title {
  font-size: (36rem/16);
  letter-spacing: -.0125em;
  line-height: .9em;
  margin: 0;
  @media (min-width: $viewport-small) {
    font-size: (64rem/16);
    margin: 0 (48rem/16) 0 (-5rem/16);
  }
}
.t1-nav {
  > a {
    color: #97A3A7;
    text-decoration: none;
    @media (min-width: $viewport-small) {
      margin: 0 (48rem/16) 0 0;
    }
  }
}
main.container {
  margin: 0 (20rem/16);
  @media (min-width: $viewport-medium) {
    margin: 0 auto;
    width: (100% * 12 / 14);
  }
}
