/*
// SCSS Variables

// Fonts
$font-heading: 'Poppins', sans-serif;
$font-body: 'Arimo', sans-serif;

$mobile-nav-transition-duration: .3s;

// Colors
$gray-400: #707B7F;
$gray-500: #899497;
$gray-600: #97A3A7;
$gray-800: #D9E1E5;

$bg-blue-600: #197FA1;
$bg-blue-400: #55768C;
$bg-blue-200: #296C82;

$blue-400: #03A1D5;

$white: #fff;
*/
/*
// Breakpoints

$viewport-small: (500rem/16);
$viewport-medium: (820rem/16);
$viewport-large: (1300/16);

*/